.square {
  height: 60px;
  width: 70px;
  background-color: blue;
  animation-duration: 5s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slide {
  0%{
    margin-left: 0px;
  }
  50%{
    margin-left: 200px;
  }
  100%{
    margin-left: 0px;
  }
}

.title{
  color: #20ecf7;
}

body{
  background-color: #000000;
}
